<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">

    <div class="list-group">

        <a  [routerLink]="['/layout/dashboard']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
        </a>

        <div class="nested-menu" *ngFor="let menu of menus; index as k;" [class.border-active]="showMenu === k">
            <a class="list-group-item" (click)="addExpandClass(k)">
                <span><i [class]="menu.icon"></i>&nbsp; {{ menu.name | translate }}</span>
                <span class="menu-arrow">
                    <i class="fa fa-arrow-right" [hidden]="showMenu === k"></i><i class="fa fa-arrow-down" [hidden]="showMenu !== k"></i>

                    <!--<i [ngClass]="{ 'fa fa-arrow-right': showMenu === k, 'fa fa-arrow-down': showMenu !== k }"></i>-->
                </span>
            </a>
            <div [hidden]="showMenu !== k">
                <ul class="submenu">
                    <li *ngFor="let menuItem of menu.menuItems">
                        <a  [routerLink]="menuItem.link" class="submenu-item"><span>{{ menuItem.name | translate }}</span></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</nav>
//[class.expand]="showMenu === k"